JWT_SECRET=222c614237d0c985bc81f352aa705f5b55d495caba843db78f0f24312cb91ee2

DATABASE_URL="postgresql://attendance_user:password@localhost:5432/attendance_db?schema=public"

QR_SECRET=8jtwsjj95GPuWNjQE0kwzLX4IrT7bGnjAG9Rgta7YOg=

EMAIL_USER="abcd@gmail.com"

EMAIL_PASS="smedzczlarhza"
